<!DOCTYPE html>
<html lang="{{ site:short_locale }}" class="antialiased">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//hello.myfonts.net/count/372eb5">
    {{ alt_seo:meta }}
    {{ vite src="resources/css/site.css|resources/js/site.js" }}
</head>
<body class="bg-paper font-sans text-ink {{ blocks limit="1" }}{{ if type == "hero" }}has-hero-header{{ /if }}{{ /blocks }}">
    {{ partial:parts/header }}

    <main>
        {{ template_content }}
    </main>

    {{ partial:parts/footer }}
</body>
</html>
